.chatbox {
    background-image: url(../images/background.png);
    width: 375px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 40px;
    height: 630px;
}

.img {
	width: 10px;
	height: 10px;
}

.chat__messages {
	background-color: rgb(39 48 66 / 94%);
    height: 465px;
    width: 105%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-left: -10px;
    overflow-y: scroll;
    padding: 10px;
    background-size: contain;
}

.chat__messages::-webkit-scrollbar {
    display: none;
}

.user,
.ally {
	display: flex;
	align-items: center;
}

.ally p {
	max-width: 180px;
	background-color: #e0efaf;
	padding: 4px 10px 4px 10px;
	text-align: left;
    color: #0c0c0c;
	
    font-weight: 500;
	margin-right: auto;
	border-radius: 20px;
    box-shadow: 0px 0px 8px #aaaaaa;
}

.user p {
	background-color: #e2c5c5;
    padding: 4px 10px 4px 10px;
    text-align: left;
    color: #0c0c0c;
    font-weight: 500;
    margin-left: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 8px #aaaaaa;
    min-height: 18px;
}


.img {
	width: 50px;
	margin: 0px 10px;
	height: 50px;
	background-color: white;
	border-radius: 100%;
}

.inpt {
	display: flex;
	padding: 10px;

}

.inpt input {
	width: 100%;
	border-radius: 30px;
	border: none;
	padding: 10px;
}

.inpt input:focus {
	outline: none;
}

.inpt .btn {
	width: 40px;
	height: 40px;
	margin-left: 10px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 100%;
	padding: 10px;
	border: none;
	background-image: url('../images/send.jpg')
}



.chat__header {
	display: flex;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
	margin-bottom: 1rem;
    font-size: 14px;
    font-weight: 600;
    justify-content: left;
}

.chat__header h1 {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: 100;
	color: black;

}

.chat__header img {
	width: 40px;
    margin: 0px 14px;
    height: 40px;
}

a {
	color: white;
}

a:hover {
	color: rgb(91, 233, 190);
	font-weight: bold;
}